@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="user-friendly-state-wrapper">
    <div class="error-state">
        <div class="server-error-background"></div>
        <h3>HTTP ERROR</h3>
    </div>
    <p>
        Oops, something went wrong with this request<br/>
    </p>
</div>