@model UserInfo

<div class=" user-friendly-state-wrapper">
    <img src="../../images/image_processing.gif" alt="Updating ..."/>
    <div class="info-state">
        <h3>@Model.HeaderInfo</h3>
        <h5>@Model.Body</h5>
    </div>
    
</div>
