@model PetPostImageViewModel

<h2 class="cr-title">Create Post</h2>
<div class="post-wrapper">
    <div class="post-content cr-post-content">
        <div class=" cr-content">
            <form asp-controller="Post" asp-action="CreatePost" method="post" enctype="multipart/form-data">
                <div class="form-group cr-form-group">
                    <label asp-for="Pet.Name" class="cr-label">Pet Name:</label>
                    <input asp-for="Pet.Name" class="form-control" />
                </div>
                <div class="form-group cr-form-group">
                    <label asp-for="Pet.Age" class="cr-label">Pet Age:</label>
                    <input asp-for="Pet.Age" class="form-control" />
                </div>

                <div class="form-group cr-form-group">
                    <label asp-for="Pet.Description" class="cr-label">Pet Description:</label>
                    <textarea asp-for="Pet.Description" class="form-control" required></textarea>
                </div>

                <div class="form-group cr-form-group">
                    <label asp-for="Post.Date" class="cr-label">Lost Date:</label>
                    <input asp-for="Post.Date" type="date" class="form-control" required />
                </div>

                <div class="form-group cr-form-group">
                    <label asp-for="Post.Location" class="cr-label">Location:</label>
                    <input asp-for="Post.Location" class="form-control" required />
                </div>

                <div class="form-group cr-form-group">
                    <label asp-for="Post.ContactNumber" class="cr-label">Contact Number:</label>
                    <input asp-for="Post.ContactNumber" class="form-control" required />
                </div>

                <div class="form-group cr-form-group">
                    <label asp-for="Post.Type" class="cr-label">Post Type:</label>
                    <select asp-for="Post.Type" class="form-control" required>
                        <option value="Found">Found</option>
                        <option value="Lost">Lost</option>
                    </select>
                </div>

                <div class="form-group cr-form-group">
                    <label asp-for="Post.Photo" class="cr-label">Pet Photo:</label>
                    <input type="file" asp-for="Post.Photo" class="form-control-file" required />
                </div>

                <button type="submit" class="btn button cr-btn">Create Post</button>
            </form>
            <div class="form-group cr-form-group">
                <img src="../../images/dog.svg" alt="Dog" class="cr-post-img" />
            </div>
        </div>
    </div>
</div>

