body {
}

.cr-form-group {
    display: flex;
}

.cr-post-img {
    margin-left: 80px;
    margin-top: 40px
}

.cr-content {
    display: grid;
    grid-template-columns: 550px 250px 250px;
}

.cr-post-content {
    height: 550px;
}

.cr-label {
    width: 170px;
}

.cr-title {
    margin-left: 500px;
}

.cr-btn {
    margin-left: 450px;
    margin-top: 20px;
}

.form-group.cr-form-group.position-relative .text-danger {
    position: absolute;
    bottom: 0;
}

@media(max-width: 700px){
    .cr-title{
        margin: 0;
        display: none;
    }
    .cr-form-group{
        flex-direction: column;
    }
    .cr-post-content {
        height: 570px;
    }
    .cr-content .form-group {
        margin-top: 0;
        max-width: 335px;
    }
    .form-group.cr-form-group img{
        display: none;
    }
    .cr-btn {
        margin-left: 0;
        margin-top: 2px;
    }
    .cr-content,
    .cr-post-content{
        display: block;
    }
    .cr-content form div:last-of-type{
         text-align-last: center;
    }
}
