
.main-content {
    height: 75vh;
    display: flex;
    gap: 3rem
}
.main-content > div{
    gap: 2rem;
}
.main-content .main-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc(100% - 500px);
}
.main-content .main-info > div {
    justify-content: center;
    display: flex;
}
.main-content .main-info > div button {
    color: white;
}
.main-content .main-info p {
    font-size: 22px;
    font-weight: 500;
}
.main-content .main-image {
    background-image: url(/images/main-photo.svg);
    width: 800px;
    background-repeat: no-repeat;  
    height: 100%;
}
