body {
}

.col-md-l {
    margin-top: 150px;
    max-width: 450px;
}

.log-btn {
    display: inline-block;
}

.forgot-link {
    color: orange;
}

.form-control {
    display: inline-block;
}

.log-btn-r {
    margin-top: -63px;
    float: right;
}
.logout-btn{
    background: none;
    border: none;
}

@media (max-width: 480px) {
    .no-margin-mobile {
        margin-top: 20px;
    }
    .post-content img {
        width: 250px;
        height: 250px;
        text-align: center;
    }

    .mobile {
        display: block;
        float: initial;
    }

    .profile {
        display: block;
    }

    .profile-image {
        max-width: 300px !important;
        max-height: 220px !important;
    }

    .name {
        margin-left: 20%;
    }

    .email {
        margin-left: 30%;
    }
    .img-d {
        text-align: -webkit-center;
    }
}


.profile-image{
    max-width: 400px;
    max-height: 400px;
}
