.tools-box {
    border-bottom: 1px solid #a9a8a7e8;
    margin-bottom: 35px;
    padding-bottom: 10px;
    display: flex;
    justify-content: end;
}
.tools-box > *{
    display: inline;
}
.tools-box > p{
    margin-right: 20px;
}
.tools-box select{
    border: none;
    border-radius: 10px;
    background: inherit;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 1px;
}

.post-content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 75vh;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 2px rgb(0,0,0, 0.2);
    border-radius: 10px;
    background-color: var(--component-primary-background-color);
}
.post-content img {
    border-radius: 50%;
    object-fit: cover;
    height: 400px;
    width: 400px;
}
.post-content .contact-button {
    position: absolute;
    left: 40%;
    bottom: 10px;
    background-color: transparent;
    line-height: 1.5;
    height: 2.5rem;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
}

.post-content .contact-button div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 4px 3px 0px rgb(0,0,0, 0.2);
    border-radius: 10px;
}
.post-content .contact-button:focus div {
    transform: rotateY(180deg);
}
.post-content .button-front,
.post-content .button-back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.post-content .button-front {
    background-color: var(--button-primary-color);
    color: black;
    left: 0;
}
.post-content .button-back {
    background-color: var(--button-primary-color);
    transform: rotateY(180deg);
    right: 0;
}
.post-content .post-info {
    width: 50%;
    padding: 2rem 0;
}
.post-content .post-info .info-row {
    display: flex;
    gap: 2rem;
}
.post-content .post-info .info-row p:first-child{
    opacity: 0.8;
    width: 20%;
}
.posts-preview {
    display: flex;
    overflow-x: hidden;
    max-width: 76vw;
}
.posts-preview .post-card {
    width: 300px;
}
.posts-preview .post-card img{
    width: 200px;
}
.card-wrapper{
    min-width: 22rem;
}
.card {
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card::before {
    content: "";
    background-size: cover;
    background-image: url(/images/background-lost.svg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: inherit;
    opacity: 0.40;
}
.card.Found::before {
    background-image: url(/images/background-found.svg);
}
.card li {
    border: none;
    background: none;
    background-color: none;
    padding: 2px 1rem;
}
.card .card-body:first-of-type{
    min-height: 80px;
}
.card > img {
    clip-path: circle();
    max-height: 140px;
    margin-top: -75px;
}
.card > .pet-photo {
    width: 180px;
    position: relative;
    align-self: center;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -20px;
}
.card .pet-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-body{
    padding: 0;
}
.card > .list-group {
    border: none;
}
.card .pet-info {
    position: relative;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 10px;
    padding: 5px 0;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 1px 0px;
}
.card .button {
    left: 32%;
    right: auto;
    bottom: 2px;
}

@media(max-width: 1380px){
    .container .row {
        justify-content: space-evenly;
    }
    .card-wrapper{
        min-width: 24rem;
    }
}
@media(max-width: 700px){
    .card .button {
        left: 28%;
        bottom: -7px;
        background-color: rgb(255, 255, 255, 0.9);
        color: var(--button-primary-color);
        line-height: 1.5;
    }
    .post-wrapper .post-content {
        flex-direction: column;
    }
    .post-wrapper.post-content img {
        width: 220px;
        height: 250px;
    }
    .post-content .post-info {
        width: 100%;    
    }
    .post-content .contact-button {
        left: 28%;
    }
}