

.user-friendly-state-wrapper {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.server-error-background {
    background-image: url(/images/error-page.webp);
    height: 410px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.error-state {
    position: relative;
}

.user-friendly-state-wrapper p {
    margin-top: 1rem;
    color: #616161;
    text-align: center;
}

.error-state h3 {
    position: absolute;
    color: var(--component-active-color);
    bottom: -25px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.field-validation-error {
    color: red;
    font-size: 14px;
}
.user-friendly-state-wrapper img {
    height: 55vh;
}

.user-friendly-state-wrapper .info-state {
    height: 20vh;
    text-align: center;
}

.user-friendly-state-wrapper .info-state h3{
    color: #e2a203;
    margin-bottom: 20px;
}
.user-friendly-state-wrapper.processing {
    height: 75vh;
    gap: 1rem;
}

.user-friendly-state-wrapper.processing img {
    height: unset;
    width: 50%;
    margin-top: -40px;
}

.user-friendly-state-wrapper.processing form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
}

.user-friendly-state-wrapper.processing .button {
    margin-right: 0;
    align-self: center;
}

@media(max-width: 900px){
    .user-friendly-state-wrapper.processing form {
        min-width: 220px !important;
        max-width: 250px;
    }
}