<div class="successful-registration-wrapper">
    <h4>
        Email Confirmation Error
    </h4>
    <h5>
        Before you can login, please confirm your email, by clicking on the confirmation link we emailed you
    </h5>
    <div class="succesful-background"></div>
</div>