@model ForgotPasswordViewModel
<div class="user-friendly-state-wrapper processing">
    <img src="../../images/Busy_cat.gif" alt="Updating ..." />
    <div class="info-state">
        <form method="post">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <button type="submit" class="btn button">Submit</button>

        </form>
    </div>
</div>