@model LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe">Remember me?</label>
        <input asp-for="RememberMe" type="checkbox" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    
</form>
<form asp-action="Registration" asp-controller="Account" method="get">
    <label>Don't have your own account yet? Register in just a few minutes!</label>
    <button type="submit">Register me</button>
</form>
