@model LoginViewModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe">Remember me?</label>
        <input asp-for="RememberMe" type="checkbox" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div>
        <a asp-action="ForgotPassword">Forgot Password?</a>
    </div>
</form>