@model RegisterViewModel

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname"/>
        <span asp-validation-for="Surname"></span>
    </div>

    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login"/>
        <span asp-validation-for="Login"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Register</button>
</form>