@model ResetPassword

<div class="user-friendly-state-wrapper processing">
    <img src="../../images/Busy_cat.gif" alt="Updating ..." />
    <div class="info-state">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn button">Reset</button>
            </form>
    </div>
</div>