@import "components/user-friendly-error.css";
@import "components/post.css";
@import "shared/buttons.css";
@import "shared/default.css";
@import "components/index.css";
@import "components/registration.css";
@import "components/login.css";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--layout-background);
}
body > .container main{
    padding: 1rem 4rem;
}
body > .container {
}
